*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.centered{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
/* Assets */

                    /* Navbar */
nav{
    margin-bottom: 40px;

    min-height: 30px;

    background-color: #0084fd;
}

nav .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
}

nav .navbar #logo{
    width: 60px;
}

nav .navbar #logo img{
    width: 100%;
}

nav .navbar #menu .fa-bars{
    font-size: 1.2em;
    color: white;
}




/* /Navbar */


                    /* Main */

/* Section 1 */
.first-cards-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 40px;
}

.first-cards-container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px;

    border-radius: 15px;

    text-align: center;
    line-height: 1.4em;

    background-color: #b5ddff;
}

.first-cards-container .card i{
    color: #0084fd;

    font-size: 6em;
}

.first-cards-container .title{
    color: #0585fc;
}

.first-cards-container .paragraph{
    font-size: 0.9em;
}

.first-cards-container .card-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px;
    padding-bottom: 0;

    border-radius: 15px;

    line-height: 1.4em;

    background-color: #b5ddff;
}

.first-cards-container .card-one .inner-one{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.first-cards-container .card-one .inner-one button{
    padding: 10px 50px;

    border-radius: 30px;
    border-style: none;

    cursor: pointer;

    background-color: #0084fd;
    color: white;
}

.first-cards-container .card-one .inner-one button i{
    font-size: 1em;
    color: white;
}

.first-cards-container .card-one .img-container img{
    display: block;

    height: 360px;
    width: 100%;
    min-width: 300px;

    margin: 0 auto;

    object-fit: contain;
    object-position: bottom;
}

/* /Section 1 */


/* Section 2 */
.second-sec-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px 0;

    background-color: #9792e4;
}

.second-sec-container .inner{
    height: 50%;
}

.second-sec-container .inner.top{
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-bottom: 20px;

    color: white;
}

.second-sec-container .inner.top .title{
    font-size: 1.4em;
}

.second-sec-container .inner.top .img-container img{
    width: 100%;
}

.second-sec-container .inner.bot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px;
    margin-bottom: 30px;

    text-align: center;

    border-radius: 20px;

    background-color: white;
}

.second-sec-container .inner.bot .img-container img{
    width: 100%;
}

.second-sec-container .inner.bot .circle-btn{
    padding: 15px;

    border-radius: 50%;
    border-style: none;

    cursor: pointer;

    background-color: #9792e4;
}

/* /Section 2 */


/* Section 3 */
.second-cards-container{
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding-top: 20px;
    padding-bottom: 60px;
}

.second-cards-container .text{
    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: center;
    line-height: 2em;
}

.second-cards-container .text .title{
    color: #9792e4;
}



.second-cards-container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px;

    border-radius: 20px;
    
    background-color: #9792e4;
}

.second-cards-container .card .card-inner-top .img-container{
    width: 150px;
    height: 150px;

    overflow: hidden;

    border-radius: 50%;
}

.second-cards-container .card .card-inner-top .img-container img{
    height: 100%;

    object-position: -30px 0px;
}

.second-cards-container .card .card-inner-bot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    text-align: center;
    line-height: 1.8em;

    color: white;
}

/* /Section 3 */


/* Section 4 */

.third-sec{
    padding-top: 25px;
    padding-bottom: 25px;

    background-color: #9792e4;
}

.third-cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.card-title{
    padding: 30px 0;

    font-size: 1.4em;
    text-align: center;

    color: white;
}

.third-cards-container .card{
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    border-radius: 20px;

    background-color: white;
}

.third-cards-container .card .num{
    font-size: 4.6em;

    color: #9792e4;
}

.third-cards-container .card .title{
    font-size: 1.3em;

    color: #9792e4;
}

.third-cards-container .card .more-button{
    padding: 10px 40px;

    background-color: #9792e4;

    border-radius: 20px;
    border-style: none;

    cursor: pointer;

    color:white;
}
/* /Section 4 */


/* Section 5 */

.about-us-container{
    display: flex;
    flex-direction: column;
    gap: 40px;

    padding: 50px 0;
}

.about-us-container .about-us-top{
    display: flex;
    flex-direction: column;
    gap: 30px;

    line-height: 2em;
}

.about-us-container .about-us-top .title{
    font-size: 1.8em;

    color: #9792e4;
}

.about-us-container .about-us-bot{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.about-us-container .about-us-bot .inner-bot{
    position: relative;
}

.about-us-container .about-us-bot .inner-bot i{
    position: absolute;
    top: 0;
    left: 120px;

    font-size: 4em;
    color: #9792e4;
}

.about-us-container .about-us-bot .img-container{
    width: 150px;
    height: 150px;

    overflow: hidden;

    border-radius: 50%;
}

.about-us-container .about-us-bot .img-container img{
    height: 100%;
}

.about-us-container .about-us-bot .paragraph{
    font-size: 1.4em;
    line-height: 1.4em;

    color: #9792e4;
}

.about-us-container .about-us-bot .about-us-btn{
    padding: 10px 14px;

    border-radius: 20px;
    border-style: none;

    cursor: pointer;

    background-color: #9792e4;

    color: white;
}
/* /Section 5 */


/* Section 6 */

.last-sec-container-back{
    background-color: #9792e4;

    color: white;
}

.last-sec-container{
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 40px 0;

    text-align: center;
}

.last-sec-container .text-2{
    font-size: 1.6em;
}

.last-sec-container .text-3{
    font-size: 3.6em;

    color: #fdc15f;
}

.last-sec-container .paragraph{
    line-height: 1.8em;
}

.last-sec-container .last-sec-btn button{
    padding: 15px 100px;

    border-radius: 30px;
    border-style: none;

    cursor: pointer;

    background-color: white;

    color: #9792e4;
}

.last-sec-container .text-4{
    font-size: 0.8em;
}

.last-sec-container .text-4 a{
    color: white;
}
/* /Section 6 */


                    /* /Main */


                    /* Footer */
.foot-back{
    padding: 40px 0;

    background-color: #333333;
}

.foot-container{
    display: flex;
    flex-direction: column;
    gap: 50px;

    text-align: center;

    color: white;
}

.foot-container a{
    color: #6c6a98;
}

@media screen and (min-width: 575px){

    /* Section 1 */
    .first-cards-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .first-cards-container .card{
        width: calc(100% / 3 - (20px / 3 * 2));
    }

    .first-cards-container .card-one{
        width: calc(100% / 3 * 2 - (20px / 3));
    }

    .first-cards-container .card-one .inner-one button{
        font-size: 1.2em;
    }
    /* /Section 1 */

    /* Section 2 */

    .second-sec-container .inner.top .title{
        font-size: 2em;
    }
    /* /Section 2 */

    /* Section 3 */

    .second-cards-container .card{
        flex-direction: row;
    }
    /* /Section 3 */

    /* Section 4 */

    .third-cards-container{
        flex-direction: row;
        flex-wrap: wrap;

        padding-bottom: 40px;
    }

    .third-cards-container .card{
        width: calc(50% - (20px / 2));
    }
    /* /Section 4 */

    /* Section 5 */

    .about-us-container{
        flex-direction: row;

        padding: 60px 0;
    }
    /* /Section 5 */












} 






























